services:

  evolution-api:
    container_name: evolution_api
    image: evoapicloud/evolution-api:latest
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - evolution_instances:/evolution/instances
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - postgres
      - redis
    environment:
      - NODE_OPTIONS=--max-old-space-size=350
    logging:
      driver: "none"



  redis:
    image: redis:alpine
    container_name: redis
    command: redis-server --maxmemory 50mb --maxmemory-policy allkeys-lru --appendonly yes --loglevel warning
    volumes:
      - redis:/data
    logging:
      driver: "none"
    #ports:
    #  - 6379:6379

  bot:
    build: .
    container_name: bot
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - evolution-api
      - redis
    restart: always
    volumes:
      - ./vectorstore_data:/app/vectorstore
    logging:
      driver: "none"

volumes:
  evolution_instances:
  postgres_data:
  redis: